@font-face {
    font-family: "bukhari script";
    src: url("../fonts/BukhariScript-Regular.ttf");
}

@font-face {
    font-family: "Alata";
    src: url("../fonts/Alata-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-image: url("../images/cafe-by-michal-parzuchowski-ItaV89TNkks-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: "bukhari script", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 29, 21);
    color: rgb(203, 142, 68);
}

h1 {
    font-size: 6rem;
    margin-top: 2rem;
}

li {
    list-style: none;
    padding: 1rem;
}

.navigation_button {
    font-family: "Alata", sans-serif;
    color: rgb(203, 142, 68);
    border: none;
    background: none;
}

.navigation_button button:hover {
    color: rgb(203, 142, 68);
    text-decoration: underline;
}

.navbar button {
    padding: 1rem;
    font-family: "Alata", sans-serif;
    font-size: 1rem;
    color: rgb(203, 142, 68);
}

.navbar button:hover {
    color: rgb(203, 142, 68);
    text-decoration: underline;
}

.cafe_page {
    height: 100vh;
    background-color: rgba(203, 142, 68, .75);
}

.notebook_page {
    height: 100vh;
    background-color: rgba(28, 168, 58, 0.75);
}

/* Gallery Page */
.gallery_page {
    height: auto;
    padding-top: 20vh;
    font-family: "Alata", sans-serif;
    color: rgb(203, 142, 68);
}

.gallery_container {
    max-width: 1200px;
    margin: 0 auto;
    column-count: 4;
}

.gallery_start_item {
    break-inside: avoid;
    margin-bottom: 16px;
    border-radius: 14px;
    background-color: rgba(42, 29, 21);
    padding: 5px;
}

.gallery_item {
  break-inside: avoid;
  margin-bottom: 16px;
}

.gallery_item figure {
  margin: 0;
  position: relative;
}

.gallery_item img {
  width: 100%;
  border-radius: 14px;
}

/* About Us Page */
.about_us_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Alata", sans-serif;
    color: rgb(203, 142, 68);
    font-size: 14px;
    text-align: center;
    height: auto;
}

.about_container {
    width: 70vw;
    height: auto;
    background-color: rgba(42, 29, 21, 0.878);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    margin-top: 25vh;
}

.about_sub {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.about_sub img {
    width: 250px;
    border-radius: 15px;
}

.members {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

/* Contact Us Page */
.contact_us_page {
    height: auto;
    padding-top: 20vh;
    padding-bottom: 15vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(203, 142, 68, 0.912);
    width: 736px;
    height: 650px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}

.contact-form {
    font-family: "Alata", sans-serif;
    font-size: 1.5rem;
    padding: 4rem;
}

label {
    font-size: 1.7rem;
    padding-top: 1rem;
}

.full-name input, .email input {
    width: 100%;
}

.message input {
    width: 100%;
    height: 300px;
    padding: 10px 0 300px 0;
}

/* form validation */
.error {
    color: rgb(177, 10, 10);
    font-weight: 700;
    display: none;
}

.error_field {
    outline: none;
    border: 2px solid red;
}

.button_send button {
    margin: 30px;
    background-color: rgb(42, 29, 21);
    color: rgb(203, 142, 68);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .form-container-sm {
        display: flex;
        flex-direction: column;
        background-color: rgb(203, 142, 68);
        width: 500px;
        height: 700px;
        margin: 2rem auto;
        border-radius: 15px;
        overflow: hidden;
    }

    .gallery_container {
        column-count: 2;
    }

    .members {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20px;
    }

}




