@font-face {
    font-family: "bukhari script";
    src: url("../fonts/BukhariScript-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono - Italic";
    src: url("../fonts/RobotoMono-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Robot Mono";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alata";
    src: url("../fonts/Alata-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    background-image: url("../images/cafe-by-michal-parzuchowski-ItaV89TNkks-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: "bukhari script", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(42, 29, 21);
    color: rgb(203, 142, 68);
}

h1 {
    font-size: 8rem;
    margin-top: 2rem;
}

li {
    list-style: none;
    padding: 1rem;
    font-family: "Alata", sans-serif;
    font-size: 1.5rem;
}

.navbar a, header a {
    text-decoration: none;
    color: rgb(203, 142, 68);
    
}

.navbar a:hover, header a:hover {
    color: rgb(203, 142, 68);
    text-decoration: underline;
}

.navbar button {
    padding: 1rem;
    font-family: "Alata", sans-serif;
    font-size: 1.5rem;
    color: rgb(203, 142, 68);
}

.navbar button:hover {
    color: rgb(203, 142, 68);
    text-decoration: underline;
}

.box-red {
    background-color: red;
    height: 100px;
}

img {
    width: 100%;
}

/* Contact Form Page */

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 142, 68);
    background-size: contain;
    width: 736px;
    height: 700px;
    margin: 2rem auto;
    border-radius: 15px;
    overflow: hidden;
}

.contact-form {
    font-family: "Alata", sans-serif;
    font-size: 1.5rem;
    padding: 7rem;
}

label {
    font-size: 1.7rem;
    padding-top: 1rem;
}

.full-name input, .email input {
    width: 100%;
}

.message input {
    width: 100%;
    height: 300px;
    padding: 10px 0 300px 0;
}

.button_send button {
    margin: 30px;
    background-color: rgb(42, 29, 21);
    color: rgb(203, 142, 68);
    width: 100px;
    height: 40px;
    border-radius: 10px;
}


/* Not Yet Available */

.not-yet-available {
    font-family: "Alata", sans-serif;
    margin: 2rem 5rem;
    color: rgb(203, 142, 68);
    font-size: 30px;
}

.not-yet-available h2 {
    font-size: 55px;
}
